services:
  user-management-service:
    build:
      context: .
      dockerfile: services/user_management/dockerfile
    image: saferoute/user_management:latest
    container_name: saferoute-user-management
    platform: linux/amd64
    ports:
      - "20000:80"
    environment:
      - PYTHONUNBUFFERED=1
      - PORT=80
      - DATABASE_URL=postgresql+asyncpg://saferoute:saferoute@db:5432/saferoute
    depends_on:
      - db
    restart: unless-stopped

  notification-service:
    build:
      context: .
      dockerfile: services/notification/dockerfile
    image: saferoute/notification:latest
    container_name: saferoute-notification
    platform: linux/amd64
    ports:
      - "20001:80"
    environment:
      - PYTHONUNBUFFERED=1
      - PORT=80
      - DATABASE_URL=postgresql+asyncpg://saferoute:saferoute@db:5432/saferoute
    depends_on:
      - db
    restart: unless-stopped

  routing-service:
    build:
      context: .
      dockerfile: services/routing_service/dockerfile
    image: saferoute/routing-service:latest
    container_name: saferoute-routing-service
    platform: linux/amd64
    ports:
      - "20002:80"
    environment:
      - PYTHONUNBUFFERED=1
      - PORT=80
      - DATABASE_URL=postgresql+asyncpg://saferoute:saferoute@db:5432/saferoute
    depends_on:
      - db
    restart: unless-stopped

  safety-scoring-service:
    build:
      context: .
      dockerfile: services/safety_scoring/dockerfile
    image: saferoute/safety_score:latest
    container_name: saferoute-safety-scoring
    platform: linux/amd64
    ports:
      - "20003:80"
    environment:
      - PYTHONUNBUFFERED=1
      - PORT=80
      - DATABASE_URL=postgresql+asyncpg://saferoute:saferoute@db:5432/saferoute
    depends_on:
      - db
    restart: unless-stopped

  feedback-service:
    build:
      context: .
      dockerfile: services/feedback/dockerfile
    image: saferoute/feedback:latest
    container_name: saferoute-feedback
    platform: linux/amd64
    ports:
      - "20004:80"
    environment:
      - PYTHONUNBUFFERED=1
      - PORT=80
      - DATABASE_URL=postgresql+asyncpg://saferoute:saferoute@db:5432/saferoute
    depends_on:
      - db
    restart: unless-stopped

  sos-service:
    build:
      context: .
      dockerfile: services/sos/dockerfile
    image: saferoute/sos:latest
    container_name: saferoute-sos
    platform: linux/amd64
    ports:
      - "20006:80"
    environment:
      - PYTHONUNBUFFERED=1
      - PORT=80
      - DATABASE_URL=postgresql+asyncpg://saferoute:saferoute@db:5432/saferoute
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: pgrouting/pgrouting:15-3.3-3.4
    container_name: saferoute-db
    restart: always
    environment:
      - POSTGRES_USER=saferoute
      - POSTGRES_PASSWORD=saferoute
      - POSTGRES_DB=saferoute
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
