#docker-compose up --build

version: "3.9"

services:
  backend:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: fastapi-backend
    ports:
      - "12345:12345"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/appdb
    volumes:
      - ../:/app

  db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=appdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
